

.cart-box {
    background: #fff;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
@media (max-width:720px) {
    .cart-box{
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
}

.cart-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.cart-image {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.cart-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.cart-category {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.cart-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.cart-price {
    font-size: 18px;
    font-weight: bold;
    color: #E91E63;
    margin-bottom: 10px;
}

.cart-quantity {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #E91E63;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
}

.quantity-button:hover {
    background-color: #D81B60;
}

.cart-total-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
